.block {
  padding: 0;
}
.text-sd {
  font-size: var(--text-size-large);
}
.text-sm {
  font-size: var(--text-size-medium);
}
.c-heading .budget-cool {
  position: absolute;
  bottom: -5%;
  right: -5%;
  font-size: 18px;
  transform: rotate(-10deg);
}
.heading-3 {
  line-height: 120%;
}
.c-sotd .marquee-text {
  margin-bottom: 30px;
}
.c-sotd .marquee-text div {
  line-height: 120%;
  font-size: 20px;
  font-size: clamp(20px, 12.9577464789px + 1.4084507042vw, 40px);
}
.sticker__1 {
  right: 8%;
  bottom: -12%;
  width: clamp(24px, 6vw, 110px);
}
.sticker__2 {
  right: 13%;
  top: 0;
  width: clamp(55px, 6vw, 110px);
  transform: translateY(-50%);
  z-index: 1;
}
.sticker__3 {
  right: 0;
  bottom: 0;
  width: clamp(55px, 6vw, 110px);
  transform: translateX(70%) translateY(30%);
}
.sticker__4 {
  position: absolute;
  top: 40%;
  right: 0;
  width: clamp(32px, 9vw, 162px);
  transform: translateX(50%);
  z-index: 1;
}
.sticker__5 {
  top: 0;
  right: 15%;
  width: clamp(110px, 12vw, 220px);
  transform: translateY(-70%);
}
.sticker__6 {
  top: 0;
  right: 15%;
  width: clamp(110px, 12vw, 220px);
  transform: translateY(-50%);
  z-index: 1;
}
.sticker__7 {
  bottom: 0;
  right: 0;
  width: clamp(70px, 12vw, 220px);
  transform: translateX(20%) translateY(40%);
  z-index: 1;
}
.sticker__typo {
  position: absolute;
  top: 0;
  left: 0;
  width: clamp(50px, 8vw, 147px);
}
.budget-cool {
  padding: 20px 28px;
  background-color: #fed11b;
  font-size: var(--text-size-primary);
  border-radius: var(--rounded-normal);
  font-weight: bold;
}
.c-sotm__smile {
  position: absolute;
  right: -10%;
  bottom: -20%;
  width: 8vw;
  height: auto;
}
.c-sotm .card-site-full {
  margin-top: 6vw;
}
.c-nominees .slider-sites {
  margin-top: 4vw;
}
.c-inspiration {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
}
.c-inspiration__desc {
  position: relative;
  top: 30%;
  width: 281px;
  align-self: flex-end;
  justify-self: flex-end;
  font-size: 18px;
  font-size: clamp(18px, 15.8873239437px + 0.4225352113vw, 24px);
}
.c-inspiration__mosaic {
  grid-column: 1/3;
  align-self: center;
  position: relative;
  width: clamp(300px, 50%, 900px);
  aspect-ratio: 8/7;
  margin: 0 auto;
}
.c-inspiration__mosaic.is-load .c-inspiration__img {
  transition: all 0.3s;
  transform: translateZ(0) !important;
}
.c-inspiration__mosaic.is-load .c-inspiration__img:hover {
  transform: scale(1.1) !important;
}
.c-inspiration__img {
  position: absolute;
  transform: scale(0);
  aspect-ratio: 16/12;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 0;
}
.c-inspiration .img-1 {
  top: 28%;
  left: 42%;
  width: 15%;
}
.c-inspiration .img-2 {
  top: 17%;
  left: 52%;
  width: 17%;
}
.c-inspiration .img-3 {
  top: 0%;
  left: 65%;
  width: 29%;
}
.c-inspiration .img-4 {
  top: 17%;
  left: 78%;
  width: 20%;
}
.c-inspiration .img-5 {
  top: 31%;
  left: 74%;
  width: 26%;
}
.c-inspiration .img-6 {
  top: 45%;
  left: 69%;
  width: 22%;
}
.c-inspiration .img-7 {
  top: 62%;
  left: 64%;
  width: 18%;
}
.c-inspiration .img-8 {
  top: 75%;
  left: 53%;
  width: 18%;
}
.c-inspiration .img-9 {
  top: 86%;
  left: 40%;
  width: 18%;
}
.c-inspiration .img-10 {
  top: 70%;
  left: 20%;
  width: 22%;
}
.c-inspiration .img-11 {
  top: 56%;
  left: 14%;
  width: 20%;
}
.c-inspiration .img-12 {
  top: 42%;
  left: 8%;
  width: 20%;
}
.c-inspiration .img-13 {
  top: 32%;
  left: 1%;
  width: 20%;
}
.c-inspiration .img-14 {
  top: 17%;
  left: 0%;
  width: 23%;
}
.c-inspiration .img-15 {
  top: 2%;
  left: 5%;
  width: 22%;
}
.c-inspiration .img-16 {
  top: 4%;
  left: 17%;
  width: 22%;
}
.c-inspiration .img-17 {
  top: 15%;
  left: 30%;
  width: 19%;
}
.sotd-inspiration {
  display: flex;
  justify-content: center;
  align-items: center;
}
.underlined-hand {
  position: relative;
  display: inline-block;
}
.underlined-hand svg {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: auto;
}
.c-directory__heading-text {
  position: relative;
}
.c-directory .tb-dotteds {
  margin: 8vw 0;
}
.c-directory .td-bt {
  width: 0;
}
.roadmap {
  width: 100%;
}
.roadmap__row {
  position: relative;
  display: grid;
  grid-template-columns: repeat(var(--roadmap-cols), 1fr);
  grid-template-rows: 100px;
  background-image: linear-gradient(
    to right,
    #222 0 10%,
    rgba(255, 255, 255, 0) 10%
  );
  background-position: top;
  background-size: 8px 1px;
  background-repeat: repeat-x;
}
.roadmap__row--date .roadmap__col {
  background-image: none;
  justify-content: center;
}
.roadmap__col {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    #222 0 10%,
    rgba(255, 255, 255, 0) 10%
  );
  background-position: right top;
  background-repeat: repeat-y;
  background-size: 1px 8px;
}
.roadmap__col:first-child {
  width: 200px;
}
.roadmap__timeline {
  grid-column: var(--roadmap-start) / var(--roadmap-end);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  position: absolute;
  top: 50%;
  left: 1em;
  right: 1em;
  min-height: auto;
  padding: 16px 20px;
  background: var(--bg-secondary);
  color: var(--color-white);
  line-height: normal;
  border-radius: var(--rounded-normal);
  transform: translateY(-50%);
}
.roadmap__timeline--s1 {
  background-color: #aaeec4;
  color: var(--color-primary);
}
.roadmap__timeline--s2 {
  background-color: #502bd8;
}
.roadmap__time {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
.c-typography__header {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter);
  margin-bottom: 5vw;
}
.c-typography__left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-typography__right {
  flex: 1;
}
.c-typography__more {
  margin-top: 5em;
}
.c-typography__breadcrumb {
  display: flex;
  align-items: center;
  gap: 20px;
}
.c-typography__photo {
  position: relative;
}
.c-typography h3 {
  margin-bottom: 0.5em;
}
.c-typography .slider-sites,
.c-typography .slider-courses {
  margin: 3vw 0;
}
.c-typography .list-courses {
  margin: 3vw 0;
}
.slider-courses {
  margin-top: 4vw;
}
.slider-courses .swiper-wrapper {
  display: grid;
  grid-auto-flow: column;
}
.slider-courses .swiper-slide {
  display: flex;
  width: 348px;
  height: 100%;
}
.grid-directory--pro + .box-table {
  margin-top: clamp(30px, 5vw, 80px);
}
.card-site-special__img {
  display: block;
  width: 100%;
}
.card-site-special__info {
  padding-top: 1em;
  font-size: 16px;
  font-size: clamp(16px, 13.1830985915px + 0.5633802817vw, 24px);
}
.card-site-special__row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: clamp(20px, 3vw, 30px);
  font-weight: bold;
}
.card-site-special__title {
  font-size: 18px;
  font-size: clamp(18px, 15.8873239437px + 0.4225352113vw, 24px);
}
.card-site-special__title a {
  color: var(--color-primary);
}
.card-site-special .figure-rollover {
  border-radius: var(--rounded-normal);
  overflow: hidden;
}
.card-site-special small {
  font-weight: lighter;
  font-size: var(--text-size-small);
}
.c-elements .card-slide {
  width: 1000px;
  max-width: 100%;
  margin: 5vw auto 10vw;
  text-align: center;
}
.c-elements .card-slide__left {
  width: 100%;
}
.c-elements .card-slide__info {
  justify-content: center;
  padding-top: 3em;
}
.list-elements {
  display: flex;
  gap: var(--gutter);
}
.list-elements li {
  width: 25%;
}
.list-elements img {
  aspect-ratio: var(--img-resizing-site);
  -o-object-fit: cover;
  object-fit: cover;
}
.list-elements .figure-rollover {
  border-radius: var(--rounded-normal);
  overflow: hidden;
}
.c-blog__heading {
  margin-bottom: 5vw;
}
.list-recommendation {
  display: flex;
  justify-content: center;
  gap: var(--gutter);
}
.list-recommendation li {
  width: 50%;
}
.card-recommendation {
  --bg-primary: var(--bg-secondary);
  --color-primary: var(--color-white);
  --color-primary-rgb: 255, 255, 255;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: clamp(20px, 4vw, 64px);
  padding-bottom: clamp(20px, 4vw, 32px);
  background: var(--bg-secondary);
  border-radius: var(--rounded-large);
  color: var(--color-white);
  overflow: hidden;
}
.card-recommendation__content {
  position: relative;
  flex: 1;
  width: 70%;
}
.card-recommendation__footer {
  margin-top: clamp(20px, 6vw, 100px);
  position: relative;
  text-align: right;
}
.card-recommendation__bg {
  display: block;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.card-recommendation h3 {
  margin-bottom: 0.8em;
  line-height: 120%;
}
.card-recommendation .button[class*="--outline"]:hover {
  background: #f8f8f8;
  color: #222;
}
.timeline {
  --step-margin: clamp(30px, 3vw, 50px);
  margin-bottom: clamp(30px, 6vw, 100px);
  background-image: linear-gradient(
    to bottom,
    #222 0 10%,
    rgba(255, 255, 255, 0) 10%
  );
  background-position: center top;
  background-repeat: repeat-y;
  background-size: 1px 8px;
}
.timeline__step {
  position: relative;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s;
}
.timeline__step.is-show {
  opacity: 1;
  transform: translateY(0);
}
.timeline__step:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 9px;
  height: 9px;
  background: var(--bg-secondary);
  border-radius: 50%;
  transform: translateX(-50%);
}
.timeline__step:nth-child(odd) {
  padding-left: 50%;
}
.timeline__step:nth-child(odd) .timeline__card {
  margin-left: var(--step-margin);
}
.timeline__step:nth-child(even) {
  padding-right: 50%;
  text-align: right;
}
.timeline__step:nth-child(even) .timeline__card {
  flex-direction: row-reverse;
  margin-right: var(--step-margin);
}
.timeline__card {
  display: flex;
  align-items: center;
  gap: 20px;
}
.timeline__info {
  width: 204px;
}
.timeline__info p {
  line-height: 130%;
  font-size: var(--text-size-medium);
}
.timeline__number {
  width: 204px;
}
.timeline .heading-5 {
  margin: 0.2em 0 0.4em 0;
}
.card-blog__excerpt {
  margin-top: 2em;
}
.card-site-anime {
  position: relative;
  display: flex;
  align-items: flex-end;
  margin-bottom: 30px;
  border-radius: var(--rounded-large);
  aspect-ratio: 16/7;
  overflow: hidden;
}
.card-site-anime:hover .button {
  opacity: 1;
}
.card-site-anime__content {
  width: 100%;
  padding: 0 clamp(20px, 3vw, 60px) clamp(20px, 3vw, 30px)
    clamp(20px, 3vw, 60px);
  pointer-events: none;
}
.card-site-anime__slide {
  color: #fff;
  width: 100%;
}
.card-site-anime__label {
  font-size: 16px;
  font-size: clamp(16px, 14.5915492958px + 0.2816901408vw, 20px);
  line-height: 130%;
}
.card-site-anime__text {
  position: relative;
  padding-top: 0.15em;
  overflow: hidden;
  font-size: 40px;
  font-size: clamp(40px, 15.3521126761px + 4.9295774648vw, 110px);
  line-height: normal;
  font-weight: bold;
}
.card-site-anime__text span:not(.card-site-anime__note) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card-site-anime__note {
  position: relative;
  display: inline-block;
  font-weight: bold;
}
.card-site-anime__note sup {
  position: absolute;
  top: 0.1em;
  left: 100%;
  font-weight: 100;
  font-size: 0.35em;
  vertical-align: top;
  line-height: 1.3em;
}
.card-site-anime__footer {
  font-size: 14px;
  color: #d3d3d3;
  text-transform: uppercase;
  line-height: normal;
}
.card-site-anime__bg {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.card-site-anime .button {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  pointer-events: none;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s;
}
.card-site-anime .is-text-anime {
  position: relative;
  display: flex;
  overflow: hidden;
  opacity: 0;
  white-space: nowrap;
}
.card-site-anime .is-text-anime span {
  transform: translateY(100%);
  transition: all 0.4s ease-in-out;
}
.card-site-anime .swiper-slide-prev .is-text-anime {
  opacity: 1;
  -webkit-animation: fadeOutText 0.2s 0.2s forwards;
  animation: fadeOutText 0.2s 0.2s forwards;
}
.card-site-anime .swiper-slide-prev .is-text-anime span {
  transform: translateY(-100%);
}
.card-site-anime .swiper-slide-active .is-text-anime {
  opacity: 1;
}
.card-site-anime .swiper-slide-active .is-text-anime span {
  transform: translateY(0);
}
.card-site-anime .swiper-slide-duplicate .is-text-anime {
  opacity: 0;
}
@-webkit-keyframes fadeOutText {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOutText {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@media (max-width: 1160px) {
  .c-box-float-more {
    display: none;
  }
}
@media (max-width: 1023px) {
  .c-inspiration {
    display: block;
  }
  .c-inspiration__mosaic {
    margin-top: 3em;
  }
  .card-recommendation__content {
    width: 100%;
  }
  .card-recommendation__footer {
    text-align: left;
  }
  .list-elements {
    flex-wrap: wrap;
  }
  .list-elements li {
    width: 100%;
  }
  .list-recommendation {
    flex-wrap: wrap;
  }
  .list-recommendation li {
    width: 100%;
  }
  .timeline {
    --step-margin: 30px;
    background-image: none;
  }
  .timeline:nth-child(n + 1) .timeline__card {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }
  .timeline__step:nth-child(odd) {
    padding-left: 0;
  }
  .timeline__step:nth-child(even) {
    padding-right: 0;
    text-align: left;
  }
  .timeline__step:before {
    display: none;
  }
  .timeline__card {
    margin-bottom: var(--step-margin);
  }
  .timeline__img {
    order: -1;
    width: 90%;
  }
}
@media (max-width: 576px) {
  .card-site-anime {
    aspect-ratio: 16/12;
  }
  .card-site-anime__footer {
    margin-top: 4px;
  }
}
.wally {
  position: absolute;
  right: 0;
  width: 50px;
  height: auto;
  z-index: 999;
  pointer-events: none;
}
